main{

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

main>h2{
    font-size: 35px;
    font-style: italic;
    align-self: center;
    margin-bottom: 35px;
}

#image{
    position: relative;
    align-self: center;
    width: 70vw;
    height: 35vw;

}

#image img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#image>div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    bottom: 10px;
    right: 15px;
    background-color: whitesmoke;
    color: #006F44;
    padding: 8px 8px;
    border-radius: 5px;
    height: 5%;
    width: 13%;
    gap: 2px;
}

#image>div:hover{
    background-color: #006F44;
    color: white;
}

#image>div>img{

    width: 2vw;

}

#image>div>p{
    font-size: 2vw;

}

input[type="checkbox"]:checked + li{
    text-decoration: line-through;
    opacity: 70%;
}

#ingredients{

    margin-top: 6%;
    margin-left: 5%;
    font-size: 20px;

}

#ingredients>div{

    display: flex;
    margin-top: 5px;
}

#ingredients>div{

    display: flex;
    margin-top: 10px;
    list-style: none;
    gap: 10px;
}

#instructions{

    margin-top: 6%;
    margin-left: 5%;
    font-size: 20px;

}

ol>li{
    margin-top: 10px;

}

